name: Build
on: 
   push:
      branches:
         - master

jobs:
  build:
    name: BuildDeploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: SetUp Java Jdk
      uses: actions/setup-java@v1
      with:
          java-version: '11'
          distribution: 'temurin'
          server-id: nexus # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

         
          #server-id: 'nexus'
          #server-username: NEXUS_USERNAME
          #server_password: NEXUS_PASSWORD
          #server-id-snapshots: 'nexus'
          #server-username-snapshots: NEXUS_USERNAME
          #server-password-snapshots: NEXUS_PASSWORD
          #cache: 'maven'
    - name: Set Up Maven
      run: mvn -B package --file pom.xml
    - name: Cache Sonar Packages
      uses: actions/cache@v4
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os}}-sonar
        restore-keys: ${{runner.os}}-sonar
    - name:  Cache Maven Packages
      uses: actions/cache@v4
      with:
         path: ~/.m2
         key: ${{runner.os}}-m2-${{hashFiles('**/pom.xml')}}
         restore-keys: ${{runner.os}}-m2
    - name: Publish to GitHub Packages Apache Maven
      run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
      env:
        GITHUB_TOKEN: ${{ github.token }}
  
    #- name: Nexus Repo Publish
      #uses: SourceSpring/action-nexus-upload@v0.1.13
      #with:
       # nexus-repo-url: http://20.15.226.35:8081/
        #nexus-username: ${{secrets.NEXUS_USERNAME}}
        #nexus-password: ${{ secrets.NEXUS_PASSWORD }}
        #nexus-repository: maven-release
        #artifact-path: target/maven-web-application.war
        #artifact-format:  maven
        #artifact-version: 1.0.0
        #artifact-group-id: com.mt
        #artifact-id: maven-web-application
    
          
    
