name: Build
on: 
   push:
      branches:
         - master

jobs:
  build:
    name: BuildDeploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: SetUp Java Jdk
      uses: actions/setup-java@v1
      with:
          java-version: 1.8
         
          #server-id: 'nexus'
          #server-username: NEXUS_USERNAME
          #server_password: NEXUS_PASSWORD
          #server-id-snapshots: 'nexus'
          #server-username-snapshots: NEXUS_USERNAME
          #server-password-snapshots: NEXUS_PASSWORD
          #cache: 'maven'
    - name: Set Up Maven
      run: mvn package --file pom.xml
    - name: Cache Sonar Packages
      uses: actions/cache@v4
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os}}-sonar
        restore-keys: ${{runner.os}}-sonar
    - name:  Cache Maven Packages
      uses: actions/cache@v4
      with:
         path: ~/.m2
         key: ${{runner.os}}-m2-${{hashFiles('**/pom.xml')}}
         restore-keys: ${{runner.os}}-m2
  
    - name: Nexus Repo Publish
      uses: sonatype-nexus-community/nexus-repo-github-action@master
      with:
        serverUrl: http://20.15.226.35:8081/
        username: ${{secrets.NEXUS_USERNAME}}
        password: ${{ secrets.NEXUS_PASSWORD }}
        format: maven2
        repository: maven-snapshot
        coordinates: groupId=com.mt artifactId=maven-web-application version=0.0.1-SNAPSHOT
        assets: extension=war
        filename: ./target/maven-web-application.war
          
    
