name: Build
on: 
   push:
      branches:
         - master

jobs:
  build:
    name: BuildDeploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: SetUp Java Jdk
      uses: actions/setup-java@v1
      with:
          java-version: 1.8
         
          #server-id: 'nexus'
          #server-username: NEXUS_USERNAME
          #server_password: NEXUS_PASSWORD
          #server-id-snapshots: 'nexus'
          #server-username-snapshots: NEXUS_USERNAME
          #server-password-snapshots: NEXUS_PASSWORD
          #cache: 'maven'
    - name: Set Up Maven
      run: mvn package --file pom.xml
    - name: Cache Sonar Packages
      uses: actions/cache@v4
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os}}-sonar
        restore-keys: ${{runner.os}}-sonar
    - name:  Cache Maven Packages
      uses: actions/cache@v4
      with:
         path: ~/.m2
         key: ${{runner.os}}-m2-${{hashFiles('**/pom.xml')}}
         restore-keys: ${{runner.os}}-m2
  
    - name: Nexus Repo Publish
      uses: SourceSpring/action-nexus-upload@v0.1.13
      with:
        nexus-repo-url: http://20.15.226.35:8081/
        nexus-username: ${{secrets.NEXUS_USERNAME}}
        nexus-password: ${{ secrets.NEXUS_PASSWORD }}
        nexus-repository: maven-release
        artifact-path: /home/runner/work/maven-web-app/maven-web-app/target/maven-web-application.war
        artifact-format:  maven
        artifact-version: 1.0.0
        artifact-group-id: com.mt
        artifact-id: maven-web-application
    
          
    
