name:  Build And Deploy To Nexus

on: 
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build a Nexus Repo
    runs-on: ubuntu-latest
    steps:
      - name: checkOut Self
        uses: actions/checkout@v4
      - name: Set up Java Jdk
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'
          server-id: 'nexus'
          server-username: NEXUS_USERNAME
          server_password: NEXUS_PASSWORD
          server-id-snapshots: 'nexus'
          server-username-snapshots: NEXUS_USERNAME
          server-password-snapshots: NEXUS_PASSWORD
          cache: 'maven'
          
      - name: Build And Deploy to Nexus
        run: mvn clean deploy --batch-mode -DskipTests
        env:
           NEXUS_USERNAME: ${{secrets.NEXUS_USERNAME}}
           NEXUS_PASSWORD: ${{secrets.NEXUS_PASSWORD}}
          
